Script for scraping old data from dhhs

In [21]:
import pandas as pd
import calendar
from datetime import date
from datetime import timedelta

date formats on the dhhs website:

05-june-2020

9-june-2020

21-june

sunday-12-july

thursday-16-july-2020

In [61]:
def get_active_cases(date):
        
    prefix = 'https://www.dhhs.vic.gov.au/coronavirus-update-victoria-'
        
    y = date.year
    m = calendar.month_name[date.month].lower()
    d = date.day
    wd = calendar.day_name[date.weekday()].lower()
    
    suffixes = []
    
    if (d < 10):
        suffixes.append('0{}-{}-{}'.format(d, m, y))
        suffixes.append('0{}-{}'.format(d, m))
        suffixes.append('{}-0{}-{}'.format(wd, d, m))
        suffixes.append('{}-0{}-{}-{}'.format(wd, d, m, y))

    suffixes.append('{}-{}-{}'.format(d, m, y))
    suffixes.append('{}-{}'.format(d, m))
    suffixes.append('{}-{}-{}'.format(wd, d, m))
    suffixes.append('{}-{}-{}-{}'.format(wd, d, m, y))
        
    df_list = None
    suffix_index = 0
    
    while (df_list == None and suffix_index < len(suffixes)):   
        url = prefix + suffixes[suffix_index]
        try:
            df_list = pd.read_html(url)
        except Exception:
            suffix_index += 1
        
    return df_list[0]

collect data from June 14 to today. put into a single csv.

In [71]:
curr_date = date(2020, 6, 14)
end_date = date.today()

df_active_cases = pd.DataFrame()

while (curr_date != end_date):
    df_curr = get_active_cases(curr_date)
    # remove LGA row if it exists
    # rename columns so each date's df is the same
    # set the index to be the LGA name
    # convert any NaNs to 0, if these are still being used by dhhs to fill cells
    curr_date += timedelta(days=1)
    # pd.concat(df_active_cases, df_curr.iloc[:,2])

In [70]:
some_date = date(2020, 6, 15)
get_active_cases(some_date)

             LGA  Total confirmed cases (ever)  Currently active cases
0      MELBOURNE                           116                       9
1    STONNINGTON                            95                       1
2        BANYULE                            94                       1
3     BOROONDARA                            73                       1
4       BRIMBANK                            74                       2
..           ...                           ...                     ...
70         MOYNE                             1                       0
71  WEST WIMMERA                             1                       0
72       WODONGA                             1                       0
73  YARRIAMBIACK                             1                       0
74         TOTAL                          1732                      49

[75 rows x 3 columns]